    <!-- About Section -->
    <section id="about" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 about-text">
              <br/><br/>
              <h2>About {{ site.title }}</h2>
              <br/>
                <p>Iris is an opensource platform that empowers people to make change in their local communities. It gives people the opportunity to submit their petitions wich then can be shared and be supported by others
                If a petition gets enough support it will be send to the local representative, so it gives citizen the chance to be heard and to cause change in their region.
                The project was found by the <a href="https://www.digitalnewsinitiative.com/">Google Dni Project</a> and there is also a platform form azMedien called <a href="https://petitio-dev.herokuapp.com/">petitio</a> </p>
              <br/>
            </div>
        </div>
    </section>
