<!-- About Section -->
<section id="about" class="">
  <div class="content-section-top">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-lg-offset-2 about-text">
          <h2 class="about-text__title">About {{ site.title }}</h2>

          <p>There are many topics that local communities regard as particularly
          pressing, but journalists usually only discover them by accident. This
          problem inspired our idea to create a platform where citizens’ concerns
          can be collected and rated on a municipal level. That way a newspaper
          can create space for those topics, host a discussion and bring
          additional value to the local community.</p>

          <p>
            IRIS is the platform behind <a href="https://petitio.ch">petitio.ch</a>.
          </p>
          <p>
            It was partially funded by the <a href="https://www.digitalnewsinitiative.com/">The
            Digital News Initiative (DNI)</a> and is released as open source software under the <a href="https://www.apache.org/licenses/LICENSE-2.0">Apache License, Version 2.0</a>.
          </p>

        </div>
      </div>
    </div>
  </div>
</section>
