<section id="contact">
    <div class="banner">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <h2>Keep in Touch:</h2>
                </div>
                <div class="col-lg-6">
                    <ul class="list-inline">
                        <li>Find us on <a href="{{ site.github }}"><i class="fa fa-github fa-fi"></i> GitHub</a> for pull requests and bug reports.</li>
                        <li>For everything else contact <a href="mailto:{{ site.email }}">{{ site.email }}</a>.</li>
                    </ul>
                </div>
            </div>
            <div class="text-center">
                    <ul class="logos">
                      <li><a href=""><img src="img/az-medien.png" height="45"></a></li>
                      <li><a href=""><img src="img/edenspiekermann.png" height="22"></a></li>
                      <li><a href=""><img src="img/lovely-systems.png" height="28"></a></li>
                    </ul>
            </div>
        </div>
        <!-- /.container -->
    </div>
</section>
<!-- /.banner -->
