<section id="contact">
  <div class="banner">
    <div class="container">
      <div class="text-center">
        <p>Find us on <a href="{{ site.social[0].url }}"> {{ site.social[0].title }}</a> for pull requests and bug reports.</p>
        <p>For everything else contact <a href="mailto:{{ site.email }}">{{ site.email }}</a>.</p>
        <ul class="logos">
          <li><a href="https://chmedia.ch"><img src="img/ch-media.svg" height="45"></a></li>
          <li><a href="https://www.edenspiekermann.com"><img src="img/edenspiekermann.png" height="22"></a></li>
          <li><a href="https://www.lovelysystems.com"><img src="img/lovely-systems.png" height="28"></a></li>
        </ul>
      </div>
    </div>
  </div>
</section>
