<section id="getting-started" class="container content-section-b text-center">
  <h2 class="section-heading">Start your own platform</h2>

  <div class="row">
    <div class="col-lg-8 col-lg-offset-2">
      <p>We are planning make IRIS open source in summer 2017. Then you can get
      the <a href="https://github.com/iris-dni/iris-service">IRIS Service</a>
      up and running, set up the
      <a href="https://github.com/iris-dni/iris-admin">IRIS Administration
      Frontend</a> and adapt the
      <a href="https://github.com/iris-dni/iris-frontend">IRIS Frontend</a> to
      your needs.</p>
    </div>
  </div>
</section>
