<section id="intro">
  <!-- Header -->
  <div class="hero">

    <div class="container">

      <div class="row">
        <div class="hero__brand col-md-10 col-lg-offset-1">
          <svg xmlns="http://www.w3.org/2000/svg" width="34" height="34" viewBox="0 0 34 34" class="hero__logo">
            <g fill="none" fill-rule="evenodd">
                <path d="M0 0h315v34H0z"/>
                <path fill="#F1F1F1" fill-rule="nonzero" d="M17 34C7.611 34 0 26.389 0 17S7.611 0 17 0s17 7.611 17 17-7.611 17-17 17zm0-4c7.18 0 13-5.82 13-13S24.18 4 17 4 4 9.82 4 17s5.82 13 13 13z"/>
                <path fill="#2FCD0C" fill-rule="nonzero" d="M17 34c9.389 0 17-7.611 17-17S26.389 0 17 0a2 2 0 1 0 0 4c7.18 0 13 5.82 13 13s-5.82 13-13 13a2 2 0 1 0 0 4z"/>
                <g fill="#222">
                    <path d="M12.987 22.012l.649-3.123 8.013-8.014 2.475 2.475-8.014 8.014zM10 22.25h12.25v1H10z"/>
                </g>
            </g>
          </svg>
          <h1 class="hero__title">{{ page.title }}:
          {{ page.subTitle }}</h1>
        </div>
        <div class="col-md-5 col-lg-4 col-lg-offset-1">
          <div>
            <h2 class="hero__headline">Engage with your local communities and take part in their stories</h2>
            <p class="hero__intro">
              There are many topics that local communities regard as particularly pressing, but journalists usually only discover them by accident. This is your chance to be part of local change, right when it’s taking place.
            </p>
            <ul class="list-inline intro-social-buttons">
              {% for social in site.social %}
              <li>
                <a href="{{ social.url }}" class="btn btn-default btn-lg"><i class="fa fa-{{ social.logoKey }} fa-fw"></i> <span class="network-name">{{ social.title }}</span></a>
              </li>
              {% endfor %}
            </ul>
          </div>
        </div>
        <div class="col-md-7">
          <img src="img/hero/hero-img.png" alt="" class="hero__image">
        </div>
      </div>

    </div>
    <!-- /.container -->

  </div>
  <!-- /.intro-header -->
</section>
