<section id="how-it-works" class="container content-section">
  <h2 class="section-heading text-center">How it works</h2>

  <div class="row">
    <div class="col-md-4">
      <div class="text-center">
        <img src="/img/petition-graphic.svg" alt="Petition graphic">
      </div>
      <h3>1. Create your petition</h3>
      <p>Anyone can create petitions for their region – no need to be part of an
      organisation. All you need is valid mobile number to verify your identity.</p>
    </div>

    <div class="col-md-4">
      <div class="text-center">
        <img src="/img/signature-graphic.svg" alt="Signature graphic">
      </div>
      <h3>2. Share and get support</h3>
      <p>Once created, share your petition with others to gain awareness about
      your cause and gather supporters. Each petition runs for 30 days.</p>
    </div>

    <div class="col-md-4">
      <div class="text-center">
        <img src="/img/email-graphic.svg" alt="Email graphic">
      </div>
      <h3>3. Letter sent to council</h3>
      <p>If your petition reaches the city's target, an official process will be
      started by sending a letter to the responsible city council member.</p>
    </div>
  </div>
</section>
