<section id="benefits">
  {% for post in site.categories.benefits reversed %}
  {% capture sectionType %}{% cycle 'a', 'b' %}{% endcapture %}
  <div class="content-section-{{ sectionType }} benefit">
    <div class="container">
      <div class="row content-container">
        <div class="col-lg-7 col-sm-8">
          <hr class="section-heading-spacer">
          <div class="clearfix"></div>
          <h2 class="section-heading">{{ post.title }}</h2>
          <div class="benefit__content">{{ post.content }}</div>
        </div>
        <div class="col-lg-4 col-lg-offset-1 col-sm-4">
          <img class="img-responsive" src="/img/services/{{ post.img }}"
          width="200">
        </div>
      </div>
    </div>
  </div>
  {% endfor %}
</section>
